.mini-coderBox {
  --white: #eee;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  background-color: #fff;
  overflow: hidden;
  box-shadow:
    0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  .coderBox-head {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 14px;
    background: var(--bgColor);
    user-select: none;
    overflow: hidden;
    padding: 0 8px;
    .coderBox-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 4px;
      margin: 0 4px;
      cursor: pointer;
      border-radius: 5px;
      & > svg {
        color: #9baacf;
        width: 20px;
        height: 20px;
      }
      &.icon-active {
        &:hover {
          box-shadow:
            0.3rem 0.3rem 0.6rem var(--greyLight-2),
            -0.2rem -0.2rem 0.5rem var(--white);
        }
        &:active {
          box-shadow:
            inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
            inset -0.2rem -0.2rem 0.5rem var(--white);
        }
      }
    }
    .coderBox-setting {
      margin-left: -3px;
      line-height: 36px;
      text-align: center;
      font-size: 20px;
      color: var(--fontColor);
      cursor: pointer;
      font-weight: 300;
    }
    .coderBox-tab {
      height: 100%;
      flex: 1;
      padding: 0 20px 0 0px;
      display: flex;
      align-items: flex-end;
      .coderBox-tab-item {
        height: 82%;
        display: flex;
        align-items: center;
        padding: 0px 15px;
        font-size: 13px;
        cursor: pointer;
        .coderBox-icon {
          float: right;
          width: 12px;
          height: 12px;
          margin-right: -8px;
        }
      }
      .coderBox-tab-active {
        position: relative;
        background: #ffffff;
        border-radius: 6px 6px 0 0;
        box-shadow:
          0.3rem 0.3rem 0.6rem var(--greyLight-2),
          -0.2rem -0.2rem 0.5rem var(--white);
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          left: -6px;
          bottom: 0;
          background: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 100c55.228 0 100-44.772 100-100v100H0z' fill='%23FFFFFF'/%3E%3C/svg%3E");
          background-size: 6px 6px;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          right: -6px;
          bottom: 0;
          background: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M100 100C44.772 100 0 55.228 0 0v100h100z' fill='%23FFFFFF'/%3E%3C/svg%3E");
          background-size: 6px 6px;
        }
      }
    }
  }
  .coderBox-body {
    display: flex;
    height: calc(64%);
  }
  .coderBox-code {
    width: 50%;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .coderBox-gutter {
    width: 5px;
    border-left: 1px solid var(--bgColor);
    border-right: 1px solid var(--bgColor);
    background-color: #f7f8fa;
    cursor: col-resize;
    box-sizing: border-box;
    &.no-dragging {
      cursor: auto;
    }
  }
  .coderBox-render {
    overflow: hidden;
    height: 100%;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    & > iframe {
      margin: 0;
      border: 0 none;
    }
    .coderBox-loading {
      position: absolute;
      left: 0;
      top: 36px;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.9);
      display: none;
      &::before {
        content: 'loading...';
        display: block;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        color: var(--fontColor);
      }
    }
  }
  .coderBox-mask {
    cursor: col-resize;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .cm-gutters {
    background-color: var(--bgColor);
    border: 0 none;
  }
}
.mini-coderBox iframe,
.mini-coderBox .cm-editor {
  width: 100%;
  height: 100%;
  outline: none !important;
  overflow: auto;
}
.mini-coderBox .coderBox-gutter:active,
.mini-coderBox .coderBox-gutter:hover {
  background-color: var(--bgColor);
}
.mini-coderBox .coderBox-gutter.no-dragging:active,
.mini-coderBox .coderBox-gutter.no-dragging:hover {
  background-color: #f7f8fa;
}
